@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

.imig {
    object-position: 80%;
}

.didot {
    font-family: 'Didot', sans-serif;
    letter-spacing: 0.4em;
    transform: translateY(px);
}


@keyframes pulse {
    0% {
      transform: scale(1, 1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
      transform: scale(1.14);
    }
  }

  .pulse {
    animation: pulse 1.8s ease infinite;
  }
